@charset "UTF-8";
/* Sass Document */
/* Scss Document */
/* Scss Document */
.cs-icon-claim input { background-image: url(../img/cs-icon01.png); }

/* Scss system Document */
/* 全体
============================================================================================================*/
.system { font-family: 'Noto Sans JP', sans-serif; }
.system .a-btm { text-align: center; }
.system .a-btm a { border: 1px solid gray; padding: 5px; margin: 3px; color: black; font-size: 110%; display: block; background: #e1e1e1; white-space: nowrap; }
.system .a-btm2 { display: flex; }
.system .a-btm2 a { border: 1px solid gray; padding: 5px; margin: 3px; color: black; font-size: 110%; display: block; background: #e1e1e1; white-space: nowrap; display: block; border-radius: 3px; margin-bottom: 25px; }
.system td .a-btm2 a { font-size: 80%; margin-bottom: 0; }
.system .body-empty { height: 60vh; }
.system .body-empty .entry-btn { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; }
.system .body-empty .entry-btn a { padding: 5px; border: 1px solid gray; font-size: 130%; line-height: 100%; color: #151515; background: #f1f1f1; }
.system .body-empty .entry-btn a:hover { background: #ffe7a0; }
.system input[type="button"] { cursor: pointer; cursor: hand; }
.system input[type="text"], .system textarea { max-width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.system td:hover { background: #ffefc6; }
.system .td-c { text-align: center; }
.system .td-r { text-align: right; }
.system .td-mod { display: flex; justify-content: space-between; align-items: center; }
.system .td-mod a { padding: 5px; border: 1px solid gray; font-size: 90%; line-height: 100%; color: #151515; background: #f1f1f1; }
.system .td-mod a:hover { background: #ffe7a0; }
.system .td-num { display: flex; align-items: center; }
.system .td-num span { font-size: 90%; color: white; background: #1b2449; line-height: 100%; padding: 5px; margin-right: 5px; }
.system .s-btm { padding: 3px; }
.system .s-btm a { display: block; padding: 5px; border: 1px solid gray; line-height: 100%; color: #151515; background: #f1f1f1; text-align: center; }
.system .s-btm a:hover { background: #ffe7a0; }
.system .modal_window { position: fixed; display: none; z-index: 3; margin: 10px; padding: 15px; border-radius: 20px; background: #fff; width: 700px; }
.system .flex { display: flex; justify-content: space-between; }
.system .flex .f1 { flex-basis: 10%; }
.system .flex .f2 { flex-basis: 20%; }
.system .flex .f3 { flex-basis: 30%; }
.system .flex .f4 { flex-basis: 40%; }
.system .flex .f5 { flex-basis: 50%; }
.system .flex .f6 { flex-basis: 60%; }
.system .flex .f7 { flex-basis: 70%; }
.system .flex .f8 { flex-basis: 80%; }
.system .flex .f9 { flex-basis: 90%; }
.system .s-input { display: flex; justify-content: center; margin-bottom: 30px; }
.system .s-input input { padding: 10px; margin: 5px; border: 1px solid gray; border-radius: 3px; }
.system .s-input input:hover { background: #ffd6a1; }
.system .s-input-min { margin-bottom: 30px; }
.system .s-input-min input { padding: 10px; margin: 5px; border: 1px solid gray; border-radius: 3px; }
.system .s-input-min input:hover { background: #ffd6a1; }
.system .head { background-image: url(); background: #709bff; display: flex; justify-content: space-between; }
.system .head ul { display: flex; padding-right: 5px; }
.system .head ul li { margin-left: 5px; }
.system h2 { color: #202846; display: flex; justify-content: space-between; align-items: center; }
.system h2 span { display: block; background: red; padding: 3px; font-size: 60%; color: black; font-style: normal; border: 1px solid gray; color: white; }
.system h2 dl { display: flex; justify-content: space-between; border: 1px solid gray; padding: 2px; }
.system h2 dl dt { padding: 2px; font-size: 60%; display: flex; justify-content: center; align-items: center; padding-left: 5px; padding-right: 5px; }
.system h3 { background: #e2edff; padding: 5px; margin-bottom: 5px; color: #1f222f; display: flex; justify-content: space-between; }
.system h3 a { display: block; background: white; padding: 3px; font-size: 80%; color: black; font-style: normal; }
.system h3 a:hover { background: #ffe7a0; }
.system .s-nav ul { display: flex; justify-content: space-between; }
.system .s-nav li { flex-grow: 1; padding: 1px; }
.system .s-nav li a { display: block; margin: 5px; text-align: center; background: #e0e0e0; color: #535353; padding: 5px; border: 1px solid gray; }
.system .s-nav li a:hover { background: white; }
.system .s-nav li a :hover ul li { visibility: visible; overflow: visible; padding-top: 0px; z-index: 50; transition: 0.5s; }
.system .s-nav li ul { flex-direction: column; position: absolute; top: 130px; width: 180px; padding: 0px; background: rgba(0, 0, 0, 0.6); visibility: hidden; }
.system .s-nav li ul li { visibility: hidden; overflow: hidden; text-decoration: none; }
.system .s-nav li ul li a { display: block; color: white; white-space: nowrap; text-align: center; background: rgba(0, 0, 0, 0.6); }
.system .s-nav li ul li a:hover { background: rgba(255, 87, 0, 0.8); }
.system .s-nav li:hover ul { visibility: visible; }
.system .s-nav li:hover ul li { visibility: visible; overflow: visible; z-index: 50; transition: 0.5s; }
.system .s-nav .regist a { background: #821618; color: white; }
.system .s-nav .regist a:hover { background: #ff9e00; }
.system .system-index .system-index-b ul li { margin-bottom: 10px; }
.system .system-index .system-index-b ul li a { display: block; text-align: center; padding: 15px; background: whitesmoke; color: black; border-radius: 10px; border: 1px gray solid; font-size: 100%; }
.system .system-index .system-index-b ul li a:hover { background: #ffc275; }
.system .system-index .system-index-b ul .now a { background: #a8f9df; border: #24513f 1px solid; }
.system .system-index section { margin-bottom: 15px; }
.system .s-table01 { border-left: 1px solid gray; border-top: 1px solid gray; min-width: 100%; margin-bottom: 20px; color: #232323; white-space: nowrap; }
.system .s-table01 th, .system .s-table01 td { border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 5px; }
.system .s-table01 th { max-width: 18%; text-align: left; background: #e3e3e3; }
.system .s-table02 { border-left: 1px solid gray; border-top: 1px solid gray; min-width: 100%; margin-bottom: 20px; color: #232323; }
.system .s-table02 th, .system .s-table02 td { border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 5px; }
.system .s-table02 th { background: #e3e3e3; }
.system .s-table01-min { border-left: 1px solid gray; border-top: 1px solid gray; margin-bottom: 20px; color: #232323; white-space: nowrap; }
.system .s-table01-min th, .system .s-table01-min td { border-right: 1px solid gray; border-bottom: 1px solid gray; padding: 5px; }
.system .s-table01-min th { max-width: 18%; text-align: left; background: #e3e3e3; }
.system .img-sample { display: flex; justify-content: space-between; }
.system .img-sample li { padding: 5px; }
.system .img-sample li img { max-width: 100%; max-height: 100px; }
.system .facility { display: flex; justify-content: space-between; }
.system .facility li { flex-grow: 1; margin: 5px; text-align: center; background: #bdbdbd; color: #535353; padding: 5px; }
.system .facility .on { background: #961618; color: white; }
.system .facility label { flex-grow: 1; margin: 5px; text-align: center; color: #535353; padding: 5px; border: 1px solid gray; cursor: pointer; cursor: hand; }
.system .facility label span { display: block; text-align: center; }
.system .modal_window .s-table01-min { margin-left: auto; margin-right: auto; }
.system .sc-list td { line-height: 120%; }
.system .sc-list td:nth-child(1) { text-align: left; white-space: nowrap; }
.system .sc-list tr:nth-child(odd) { background: rgba(240, 240, 240, 0.5); }
.system .sc-list tr:hover, .system .sc-list td:hover { background: #f5e1ff; }
.system .order-regist th:nth-child(1) { width: 35%; }
.system .order-regist th:nth-child(2) { width: 10%; }
.system .order-regist td input[type="text"] { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.system .order-regist td:nth-child(1) { text-align: left; }
.system .order-regist td:nth-child(2) { text-align: center; }
.system .order-regist td:nth-child(2) input { text-align: center; }
.system .order-regist td:nth-child(3) { text-align: right; }
.system .order-regist td:nth-child(3) input { text-align: right; }
.system .order-regist td:nth-child(4) { text-align: right; }
.system .order-regist td:nth-child(4) input { text-align: right; }
.system .claim-list td { text-align: right; }
.system .claim-list tr:hover, .system .claim-list td:hover { background: #f5e1ff; }
.system .claim-list input[type="text"] { text-align: right; box-sizing: border-box; width: 100%; }
.system .claim-list2 td:nth-child(1), .system .claim-list2 td:nth-child(2), .system .claim-list2 td:nth-child(4) { width: 10%; text-align: center; }
.system .claim-list2 td:nth-child(3) { width: 13%; text-align: center; }
.system .claim-list2 td:nth-child(4), .system .claim-list2 td:nth-child(5), .system .claim-list2 td:nth-child(6), .system .claim-list2 td:nth-child(7), .system .claim-list2 td:last-child { text-align: right; }
.system .claim-list2 tr:hover, .system .claim-list2 td:hover { background: #f5e1ff; }
.system .sale-input { font-size: 90%; }
.system .sale-input input[type="text"] { text-align: right; box-sizing: border-box; width: 100%; text-align: right; }
.system .sale-input th:nth-child(1), .system .sale-input th:nth-child(4), .system .sale-input th:nth-child(13) { width: 5%; }
.system .sale-input td:nth-child(1) input[type="text"], .system .sale-input td:nth-child(4) input[type="text"], .system .sale-input td:nth-child(13) input[type="text"] { text-align: center; }
.system .sale-input td:nth-child(3) input[type="text"], .system .sale-input td:nth-child(8) input[type="text"] { text-align: left; }
.system .sale-total-table th { width: 8%; }
.system .sale-total-table td { text-align: right; }
.system .sale-total-table td:nth-child(2) { text-align: left; }
.system .customer-input1 input[type="text"] { max-width: 120px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.system h2 ul { display: flex; font-size: 60%; color: gray; font-style: normal; font-weight: 400; }
.system h2 li { min-width: 100px; border: #cbcbcb; margin: 2px; text-align: center; }
.system h2 .sale-result { background: #b91518; color: white; }
.system h2 .claim-result { background: #183c90; color: white; }
.system .sm-cal input { width: 70px; font-size: 80%; }
